.container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 15%;
    background-color: #272829;
    padding: 20px;
    
}

.profile {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}



.profile-name {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social-icons > div {
    width: 25px;
    height: 20px;

    background-color: rgb(58, 57, 57);
    border-radius: 50%; /* Makes the div circular */
    display: flex;
    padding: 10px;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    font-size: 20px; /* Adjust the font size as needed */
    color: white; /* Color of the icon */
    
}


.nav-buttons {
    margin-top: 20px;
}

.profile-img{
    display: flex;
    text-align: center;
    justify-content: center;
}
.profile-img img {
    background-image: url(img/cato\ edit2.jpeg);
    display: flex;
    width: 50%; /* Ensure the image fills the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%;
}

.nav-buttons button {
    display: flex;
    align-items: center; /* Align items vertically */
    width: 100%;
    padding: 10px;
    padding-left: 34%;
    margin-bottom: 10px;
    margin-top: 30px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav-buttons button i {
    margin-right: 5px; /* Add some space between icon and text */
    color: white; /* Default color for icons */
}

.nav-buttons button:hover i {
    color: peru; /* Change color on hover */
}



.social-icons > div:hover {
    background-color: peru;
}


button .fas,
button .fa,
button .far {
    margin-right: 5px; /* Add some space between icon and text */
    color: white; /* Default color for icons */
}

button:hover .fas,
button:hover .fa,
button:hover .far {
    color: peru; /* Change color on hover */
}
.fas.fa-home {
    color: peru;
}

#hero {
    flex: 1; /* Take up remaining space */
    background-image: url(img/orange\ eye.jpeg); /* Replace 'your-image.jpg' with your image path */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
}




#header{
    display: flex;
    margin-top: 150px;
    justify-content: center;
    margin-right: 35%;
    margin-top: 280px;

}
#header h1{
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;

}
#header h1 a,
#header h1 a:hover{
    color: #fff;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 35px;
}

.intro-text {
    text-align: center; /* Align text center horizontally */
    position: absolute;
    top: 37%; /* Adjust the top position to move it vertically */
    left: 45%; /* Center horizontally */
    transform: translateX(-50%);
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 25px; /* Adjust font size as needed */
    margin-top: 10px; /* Adjust vertical margin as needed */
    border-bottom: 3px solid #dd6e14;
}
#hero .hero-container {
    display: block;
    z-index: 2;
    min-width: 300px;
    margin-left: 20%;
    margin-top: 20%;

  }
  
  #hero h1 {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  
  #hero p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
  }
  
  #hero p span {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #dd6e14;
  }


  @media screen and (min-width: 500px) and (max-width: 1000px) {
    .sidebar {
        width: 30%;
    }

}
