@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

a {
    text-decoration: none;
    color: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #272829;
  display: flex;
  justify-content: center;
  color: white;
}

.container {
  width: 450px;
  padding: 20px;
  margin-top: 80px;
  color: black;
  background-color: #fff;
  box-shadow: 0 2px 4px #292824;
  border-radius: 20px;
  
}

h1 {
  text-align: center;
}

.question {
  font-weight: bold;
  margin-bottom: 10px;
}

.options {
  margin-bottom: 20px;
}

.option {
  display: block;
  margin-bottom: 10px;
}

.button {
  align-items: center;
  padding: 10px 20px;
  background-color: #f98C0D;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-right: 10px;
}

#submit{
  display: flex;
  align-items: center;
  justify-content: center;
} 

.button:hover {
  background-color: #884e0b;
}

.result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.hide{
  display: none;
}
#button-center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 10px;
}